#btn_removeAllSongs {
	float: right;
}
.btn-playList {
    float: right;
}

/* body id myPage*/

#myPage {
	/*overflow: hidden;*/
}

.h5_album_name {
	background-color: black;
	color: white;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}

/*Button PlayList Align to the right*/
.btn-xs, .btn-group-xs > .btn {

    /*float: right;*/
}

/*RESIZE IMAGE*/
img.resize{
   width:170px;
   height:170px;
}
img.resizeModal{
   width:320px;
   height:320px;
}
/* Navbar styling*/
.navbar {
    margin-bottom: 0;
    background-color: #0088cc;
    /*z-index: 9999;*/
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0088cc !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


div#istope-album
{
	margin-top: 100px;
	overflow-y: scroll;
	height: 780px;


}

div#listBar.sidenav  {
	margin-top: 130px;
	/*position: fixed;*/
	height:100%;	
	right: 0;
}
.nav-pills > li {
	margin: 0 0 2px 0;
}

div#leftsidebar {
	/*position: fixed;*/
	height:100%;
   	width:100px; 
   	margin-top: 120px;


}
div#rightsidebar {
	/*position: fixed;	*/
	height:100%;
   	width:100px; 
   	margin-top: 120px;

}

.btn-shadow {
    box-shadow: 1px 2px 5px #000000; 
}

ol.example li {

    margin: 5px;
    padding: 0px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee;
}

.well {
	padding: 20px;

}

/* sortable plugin */
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
/*end sortable*/

/*  table */

.table {
	
}
.table tbody{	
	height: 350px;
}
.table tbody tr td,.table tbody tr th{
	padding: 0px;		
}

.table_modal tbody tr td,.table_modal tbody tr th{
	padding: 5px;
	text-align: center;
	font-size: 16px;	
}

.table_modal thead tr td,.table_modal thead tr th{
	padding: 5px;
	text-align: center;	
	font-size: 18px;	
}
/* Isotope Items
---------------------------------- */
/* rounded Left side Filter*/
.nav-pills > li > a {
    border-radius: 100px;
    padding: 1px 16px;

}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color:  rgba(85, 172, 238, 0.9);;
}
.filters {
	margin: 0 0 30px 0;
}
.filters .nav-pills > li {
	margin-right: 2px;
	margin-bottom: 2px;
}
.filters .nav-pills > li + li {
	margin-left: 0px;
}
.text-center.filters .nav-pills > li {
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	display: inline-block;
	float: none;
}
.isotope-container {
	/*overflow: hidden;	*/


}
.isotope-item {
	margin-bottom: 10px;
	margin-right: 10px;
	width: 474px;
	height: 370px;
	margin-left: 0px;
	border-style: solid;
	border-color: #ddd;
    border-width: 1px;  
    overflow: hidden;	

	
}
.isotope-item .btn-default {
	color: #999999;
}
.isotope-item .btn-default:hover {
	color: #ffffff;
}
@media (max-width:480px) {
	.filters .nav-pills > li {
		width: 100%;
		display: block;
	}
}

/* Images Overlay
----------------------------------------------------------------------------- */
.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
	margin-top: 5%;

}
.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(85, 172, 238, 0.5);
	cursor: pointer;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.overlay:hover {
	text-decoration: none;
}
.overlay span {
	position: absolute;
	display: block;
	bottom: 10px;
	text-align: center;
	width: 100%;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
}
.overlay i {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 18px;
	line-height: 1x;
	color: #ffffff;
	margin-top: -8px;
	margin-left: -8px;
	text-align: center;
}
.overlay-container:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}
